/* Globals */
@font-face {
	font-family: 'inconsolata';
	src: local('inconsolata'), url('assets/inconsolata.woff') format('woff');
	unicode-range: U+000-5FF;
}


html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0a1951;
	margin: 0;
}

/* Header Top */

.header {
	background-image: url('assets/bg+.png');
	background-size: cover;
	height: 100vh;
	padding: 40px;
}

.top {
	display: flex;
}

.top__logo {
	flex: 1;
}

.list-social {
	max-width: 164px;
	flex: 2;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 32px;
}

.list-social__item {
	padding: 8px 4px;
}

/*Titulo e sobre o projeto*/

.sobre {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	font-family: inconsolata;
	color: #fff
}

@media (min-width: 640px) {
	.sobre {
		padding: 40px 60px;
	}
}
@media (min-width: 880px) {
	.sobre {
		padding: 40px 80px;
		flex-direction: row;
	}
}
@media (min-width: 960px) {
	.sobre {
		padding: 40px 120px;
	}
}

/*Titulo*/

.titulo {
	flex: 1;
	text-align: left;
	margin-bottom: 25px;
}

.titulo__sobre,
.titulo__sobre--tc {
	margin: 0;
}

.titulo__sobre--tc {
	font-size: 42pt;
	letter-spacing: 2px;
	color: #d33837;
	line-height: 100%;
	margin-top: 10px;
}

.titulo__sobre {
	font-size: 16pt;
}

/*Sobre*/

.descricao {
	flex: 1;
	text-align: right;
}

.descricao__projeto--btn {
	padding: 10px 50px;
	border-radius: 5px;
	border: none;
	background-color: #d33837;
	color: #fff;
	font-family: inconsolata;
	font-size: 11pt;
	box-shadow: 0 0 10px #d33837;
	cursor: pointer;
	transition-duration: .3s;
	margin-top: 20px;
}

.descricao__projeto--btn:hover {
	background-color: #fff;
	color: #d33837;
	transition-duration: .3s
}
