/* Globals */
@font-face {
	font-family: 'inconsolata';
	src: local('inconsolata'), url('assets/inconsolata.woff') format('woff');
	unicode-range: U+000-5FF;
}


html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0a1951;
	font-family: "inconsolata";
}

/* Header Top */

.header {
	background-image: url('assets/bg+.png');
	background-size: cover;
	height: 100vh;
	padding: 40px;
}

.top {
	display: flex;
}

.top__logo {
	flex: 1;
}

.list-social {
	flex: 2;
	list-style: none;
	text-align: right;
}

.list-social__item {
	display: inline-block;
	padding: 0 8px;
}

/* Hero */

.hero {
	display: flex;
	color: white;
	margin-top: 20px;
	justify-content: center;
}

.hero__titulo {
	max-width: 400px;
	font-size: 24px;
}

.hero__titulo span {
	color: tomato;
	font-size: 4.3rem;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 4px;
}

.hero__descricao {
	margin-top: 1rem;
	max-width: 400px;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.hero__btn {
	display: block;
	width: 200px;
	background-color: tomato;
	color: white;
	border-radius: 5px;
	box-shadow: 0 0 1px 2px tomato;
	padding: 10px;
  text-align: center;
	text-decoration: none;
	align-self: flex-end;
	margin-top: 10px;
}

@media screen and (max-width: 768px) {
	.hero {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

