<section class="come site-container" id="come">
    <div class="come__box">
        <h3 class="come__title">Quem somos nós</h3>
        <p>O Training Center é uma comunidade de pessoas que trabalham com desenvolvimento de software (programação, design,
        bancos de dados etc.) e ajudam pessoas iniciantes ou pessoas que querem entrar nessa área.</p>
        <p>Nos acompanhe nas redes sociais:</p>
        <ul class="come__nav">
            <li><a href="https://www.facebook.com/trainingcenterbr/" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/trainingcentr" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/22312627/" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
    <div class="come__box">
        <h3 class="come__title">Participe da nossa comunidade</h3>
        <p>Nós falamos muito no <strong>Slack</strong>, um aplicativo de chat e comunicação em tempo real, e no nosso <strong>fórum</strong>. Participe!</p>
        <ul class="come__nav">
            <li><a href="https://ctgroups.herokuapp.com/" target="_blank">-> Chat no Slack</a></li>
            <li><a href="https://github.com/training-center/forum" target="_blank">-> Forum no GitHub</a></li>
        </ul>
    </div>
</section>