<section class="come site-container" id="come">
    <div class="come__box">
        <h2 class="come__title">Quem somos nós</h2>
            <p> O Training Center é uma comunidade de tecnologia focada em desenvolvimento de software para iniciantes em programação, design, segurança da informação, mobile, bancos de dados, etc. Tudo o que estiver envolvido com desenvolvimento de software.</p>
            <p>Todas as nossas propostas são gratuitas e as pessoas podem participar de qualquer lugar do mundo. Tentamos fazer o máximo
            de iniciativas online e open source.</p>
            <p>Qualquer pessoa pode participar de nossa comunidade e iniciativas, independente do nível profissional. Acima de tudo, queremos
            ajudar as pessoas a evoluirem profissionalmente.</p>
            <p>Nosso objetivo é inserir pessoas na área de desenvolvimento através de apoio em <strong>foruns de discussão</strong>, <strong>mentoria</strong>, <strong>grupos de estudos</strong>, <strong>code review</strong>, <strong>exposição de perfis</strong> profissionais para as empresas e <strong>compartilhamento de conhecimento</strong> através de artigos e vídeos.</p>
            <p>Também auxiliamos pessoas que já trabalham na área e buscam aprimoramento profissional a elevar seus níveis técnicos ou soft skills para irem mais longe.</p>
            <p>Nós, como um grupo que pode fazer alguma diferença na sociedade, abraçamos a responsabilidade de ajudar minorias buscando apoiar comunidades carentes, mulheres na tecnologia, pessoas negras, comunidade LGBTQ+ ou qualquer outro grupo que sofra de alguma maneira para entrar ou trabalhar em nossa área.</p>
        <p>Nos acompanhe nas redes sociais:</p>
        <ul class="come__nav">
            <li><a href="https://www.facebook.com/trainingcenterbr/" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/trainingcentr" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/22312627/" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
    <div class="come__box">
        <h2 class="come__title">Participe da nossa comunidade</h2>
        <p>Nós falamos muito no <strong>Slack</strong>, um aplicativo de chat e comunicação em tempo real, e no nosso <strong>fórum</strong>. Participe pelos links abaixo!</p>

        <strong>Você precisa estar de acordo com o nosso <a href="http://bit.ly/tc-conduct-code" title="link para nosso código de conduta" target="_blank">código de conduta.</a></strong>

        <ul class="come__nav">
            <li>Entre no nosso <a href="http://bit.ly/slack-training-center" title="Link para o nosso Slack" target="_blank"> chat (Slack)</a></li>
            <li>Conheça nossos <a href="http://bit.ly/tc-meetups" title="Link para nossos Meetups" target="_blank">encontros presenciais regionais</a></li>
            <li>Leia <a href="http://bit.ly/tc-medium" title="Link para nossos artigos no Medium" target="_blank">nossos artigos</a></li>
            <li>Inscreva-se em <a href="http://bit.ly/TrainingCenterChannel"  title="Link para o nosso canal no YouTube" target="_blank">nosso canal no YouTube</a></li>
            <li>Siga nosso <a href="http://bit.ly/seguir-o-training-center"  title="Link para o nosso Twitter" target="_blank">Twitter</a></li>
            <li>Curta nossa página no <a href="http://bit.ly/facebook-training-center"  title="Link para nosso Facebook" target="_blank">Facebook</a></li>
            <li>Nos siga no <a href="http://bit.ly/seguir-no-linkedin"  title="Link para o nosso LinkedIn" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
    <div class="come__box">
        <h2 class="come__title">Deseja contribuir com nossos projetos?</h2>
        <p>Você pode contribuir com nossos projetos e ajudar pessoas a entrarem na área de desenvolvimento de software!</p>
        <p>Conheça mais:
            <a href="http://bit.ly/training-center" title="Mais sobre nós" target="_blank">sobre nós</a>.</p>
    </div>
</section>