<section class="come site-container" id="come">
    <div class="come__box">
        <h3 class="come__title">Quem somos nós</h3>
            <p> O Training Center é uma comunidade de tecnologia focada em desenvolvimento de software para iniciantes em programação, design, segurança da informação, mobile, bancos de dados, etc. Tudo o que estiver envolvido com desenvolvimento de software.</p>
            <p>Todas as nossas propostas são gratuitas e as pessoas podem participar de qualquer lugar do mundo. Tentamos fazer o máximo
            de iniciativas online e open source.</p>
            <p>Qualquer pessoa pode participar de nossa comunidade e iniciativas, independente do nível profissional. Acima de tudo, queremos
            ajudar as pessoas a evoluirem profissionalmente.</p>
            <p>Nosso objetivo é inserir pessoas na área de desenvolvimento através de apoio em <strong>foruns de discussão</strong>, <strong>mentoria</strong>, <strong>grupos de estudos</strong>, <strong>code review</strong>, <strong>exposição de perfis</strong> profissionais para as empresas e <strong>compartilhamento de conhecimento</strong> através de artigos e vídeos.</p>
            <p>Também auxiliamos pessoas que já trabalham na área e buscam aprimoramento profissional a elevar seus níveis técnicos ou soft skills para irem mais longe.</p>
            <p>Nós, como um grupo que pode fazer alguma diferença na sociedade, abraçamos a responsabilidade de ajudar minorias buscando apoiar comunidades carentes, mulheres na tecnologia, pessoas negras, comunidade LGBTQ+ ou qualquer outro grupo que sofra de alguma maneira para entrar ou trabalhar em nossa área.</p>
        <p>Nos acompanhe nas redes sociais:</p>
        <ul class="come__nav">
            <li><a href="https://www.facebook.com/trainingcenterbr/" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/trainingcentr" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/22312627/" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
    <div class="come__box">
        <h3 class="come__title">Participe da nossa comunidade</h3>
        <p>Nós falamos muito no <strong>Slack</strong>, um aplicativo de chat e comunicação em tempo real, e no nosso <strong>fórum</strong>. Participe!</p>
        <ul class="come__nav">
            <li><a href="https://ctgroups.herokuapp.com/" target="_blank">-> Chat no Slack</a></li>
            <li><a href="https://github.com/training-center/forum" target="_blank">-> Forum no GitHub</a></li>
        </ul>
    </div>
</section>