<section class="initiatives site-container" id="initiatives">
    <div class="initiatives__box">
        <h3 class="initiatives__box__title"><a href="https://github.com/training-center/mentoria" target="_blank">Mentoria</a></h3>
        <p>Através do apoio de pessoas experiêntes nós auxiliamos pessoas que desejam entrar na área de desenvolvimento de software prestando mentoria gratuita e com a segurança do apoio da nossa comunidade.</p>
        <a class="initiatives__box__link" href="https://github.com/training-center/mentoria" target="_blank">Conheça o Mentoria</a>
    </div>
    <div class="initiatives__box">
        <h3 class="initiatives__box__title"><a href="https://github.com/training-center/study-groups" target="_blank">Grupos de estudos</a></h3>
        <p>Nós juntamos pessoas que desejam aprender qualquer coisa, desde programação até UX design em pequenos grupos que buscam se apoiar e compartilhar conhecimento para irem mais longe em seus estudos.</p>
        <a class="initiatives__box__link" href="https://github.com/training-center/study-groups" target="_blank">Conheça o Study Groups</a>
    </div>
    <div class="initiatives__box">
        <h3 class="initiatives__box__title"><a href="https://github.com/training-center/code-review" target="_blank">Revisão de código</a></h3>
        <p>Através da revisão de código, pessoas experiêntes dão dicas de programação para pessoas iniciantes melhorarem suas habilidades de codificação.</p>
        <a class="initiatives__box__link" href="https://github.com/training-center/code-review" target="_blank">Conheça o Code Review</a>
    </div>
    <div class="initiatives__box">
        <h3 class="initiatives__box__title"><a href="https://github.com/training-center/meetups" target="_blank">Encontros locais</a></h3>
        <p>Fazemos encontros locais para incentivar o networking e amizade entre as pessoas da nossa comunidade, além de incentivar palestrantes iniciantes.</p>
        <a class="initiatives__box__link" href="https://github.com/training-center/meetups" target="_blank">Conheça nossos Meetups</a>
    </div>
</section>