<section class="partners">
    <div class="site-container">
        <h2 class="partners__title">Apoie a nossa comunidade</h2>
        <p>Nossa comunidade <strong>não possui fins lucrativos</strong>.</p>

        <h2 class="partners__title">Nós apoiamos</h2>
        <p>Nossa comunidade apoia a inclusão e diversidade e por isso ajudamos e recebemos ajuda intensamente de outras comunidades e iniciativas, como essas aqui:</p>
        <div class="partners__win">
            <div class="partners__box">
                <a href="https://www.codamos.club/">
                    <img src="assets/images/partners/codamos-logo.png" alt="Codamos">
                </a>
            </div>
            <div class="partners__box">
                <a href="http://help4papers.com.br/">
                    <img src="assets/images/partners/help-4-papers.png" alt="Help4Papers">
                </a>
            </div>
        </div>
        <h2 class="partners__title">Descontos</h2>
        <p>Nós também temos desconto em diversos sites de cursos e brindes que você pode utilizar, da uma olhada nesse link: <a href="https://github.com/training-center/sponsors">descontos do Training Center</a></p>
    </div>
</section>