{% include header.html %}

<main class="content">
    <section class="study">
        <img src="assets/images/study-tmp.png" alt="Grupo de estudos" title="Grupo de estudos" class="study__image">
        <div class="study__heading">
            <p class="study__headline">Iniciativa</p>
            <h2 class="study__title">Study
                <br> Groups</h2>
            <p>
                Uma iniciativa para juntar membros das comunidades que precisam estudar ou praticar alguma tecnologia.
            </p>

            <p>
                Os grupos podem tanto fazer grupos de estudos para aprenderem uma tecnologia juntos, quando criar um projeto para treinar
                suas habilidades
            </p>

            <p>
                Pode aconteccer de aparecer alguma ideia de Freela, fiquem a vontade para trocarem contatos, se planejarem e tudo mais. -
                Porém a responsabilidade freelance está fora do escopo da organização desse projeto.
            </p>

            <p>
                A intenção é movimentar a galera e juntar pessoas com o mesmo objetivo.
            </p>

            <a class="btn" href="https://github.com/training-center/study-groups" title="Conheça mais sobre os grupos de estudos">Conheça Mais</a>
        </div>
    </section>

    <section class="mentoring">
        <img src="assets/images/mentoring-tmp.png" title="Mentoria une as pessoas através da ineternet" alt="Mentoria une as pessoas através da ineternet"
            class="mentoring__image">
        <div class="mentoring__heading">
            <p class="mentoring__headline">Iniciativa</p>
            <h2 class="mentoring__title">Mentoria</h2>

            <p>
                O mentoria é um projeto com a premissa de unir pessoas com experiência em uma área de atuação (ou mais) com quem quer aprender
                ou precisa melhorar suas habilidades para dar uma subida de carreira.
            </p>

            <p>
                Queremos ajudar iniciantes a não passarem por certos problemas que nós passamos e tentamos ajudar quem já está no mercado
                e sente necessidade de ajudar para crescer mais.
            </p>

            <p>
                Não somos coaches, somos profissionais de mercado que queremos ajudar alguém. Por isso tenha paciência nós respondemos no
                nosso tempo livre de responsabilidades pessoais/trabalho.
            </p>

            <a class="btn" href="https://github.com/training-center/mentoria/" title="Conheça mais sobre o Mentoria">Conheça Mais</a>
        </div>
    </section>
</main>

{% include footer.html %}