<footer class="footer">
  <section class="footer__heading">
    <p class="footer__headline">Quem apoia o</p>
    <h2 class="footer__title">Training
      <br>Center</h2>
  </section>

  <section class="footer__partners">
    <div class="footer__partners--left">
      <div class="partner">
        <p class="partner__name">
          <a href="https://twitter.com/Willian_justen" target="_blank">Willian Justen</a>
        </p>
        <p class="partner__about">
          <span class="partner__discount--percentage">50% de desconto</span>
          <br>
          <a href="https://www.udemy.com/js-com-tdd-na-pratica/" target="_blank">Curso JavaScript com TDD na prática</a>
        </p>
        <p class="partner__discount--text">Código de desconto:
          <span class="partner__discount--code">CTJSTDD</span>
        </p>
      </div>

      <div class="partner">
        <p class="partner__name">
          <a href="https://twitter.com/afonsopacifer" target="_blank">Afonso Pacifer</a>
        </p>
        <p class="partner__about">
          <span class="partner__discount--percentage">15% de desconto</span>
          <br>
          <a href="https://csshortcut.github.io/organizacao.html" target="_blank">Curso de Organização de CSS</a>
        </p>
        <p class="partner__discount--text">Código de desconto:
          <span class="partner__discount--code">CTSHORTCUT</span>
        </p>
      </div>
    </div>

    <div class="footer__partners--right">
      <div class="partner">
        <p class="partner__name">
          <a href="https://novatec.com.br/" target="_blank">Editora Novatec</a>
        </p>
        <p class="partner__about">
          <span class="partner__discount--percentage">20% de desconto</span>
          <br>
          <a href="https://novatec.com.br/" target="_blank">em todo site</a>
        </p>
        <p class="partner__discount--text">Código de desconto:
          <span class="partner__discount--code">TRAINING</span>
        </p>
      </div>

      <div class="partner">
        <p class="partner__name">
          <a href="https://twitter.com/fdaciuk" target="_blank">Fernando Daciuk</a>
        </p>

        <p class="partner__about">
          <span class="partner__discount--percentage">23% de desconto</span>
          <br>
          <a href="https://www.udemy.com/curso-javascript-ninja/" target="_blank">Curso JavaScript Ninja</a>
        </p>
        <p class="partner__discount--text">Código de desconto:
          <span class="partner__discount--code">CTNINJA</span>
        </p>
      </div>

      <div class="partner">
        <p class="partner__name">
          <a href="https://www.stickersdevs.com.br/" target="_blank">Stikers Devs</a>
        </p>
        <p class="partner__about">
          <span class="partner__discount--percentage">15% de desconto</span>
          <br>
          <a href="https://www.stickersdevs.com.br/" target="_blank">em todo site</a>
        </p>
        <p class="partner__discount--text">Código de desconto:
          <span class="partner__discount--code">CTSTICKERS</span>
        </p>
      </div>
    </div>
  </section>

  <span style="color: white">© {{ site.time | date: '%Y' }} writed with
    <3 by {{ site.author }}, site develop with <a style="color: #d33837" href="https://github.com/woliveiras/__s" title="dunders, simple Jekyll Starter Theme">dunders</a>
  </span>
</footer>
</body>
</html>