<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "en" }}">
  {% include head.html %}
<body>
  <header class="header">
    <section class="top">
      <div class="top__logo">
        <img src="assets/images/logo.png" alt="Logo Training Center">
      </div>
      <ul class="list-social">
        <li class="list-social__item">
          <a class="list-social__link" title="Slack" href="https://ctgroups.herokuapp.com/" target="_blank">
            <img class="list-social__ico" src="assets/images/icons/ico-slack.png" alt="Slack Icon">
          </a>
        </li>
        <li class="list-social__item">
          <a class="list-social__link" title="Github" href="https://github.com/training-center" target="_blank">
            <img class="list-social__ico" src="assets/images/icons/ico-github.png" alt="Github Icon">
          </a>
        </li>
        <li class="list-social__item">
          <a class="list-social__link" title="Twitter" href="https://twitter.com/trainingcentr" target="_blank">
            <img class="list-social__ico" src="assets/images/icons/ico-twitter.png" alt="Twitter Icon">
          </a>
        </li>
        <li class="list-social__item">
          <a class="list-social__link" title="Medium" href="https://medium.com/trainingcenter" target="_blank">
            <img class="list-social__ico" src="assets/images/icons/ico-medium.png" alt="Medium Icon">
          </a>
        </li>
      </ul>
    </section>

    <section class="about">
      <div class="about__heading">
        <p class="about__headline">Sobre o</p>
        <h1 class="about__title">Training
          <br>Center</h1>
      </div>

      <div class="about__description">
        <p>
          Um projeto sem fins lucrativos com a premissa de ajudar desenvolvedores iniciantes ou não que tem dúvidas ou precisam de
          dicas para alavancar sua carreira ou só querem fazer bons amigos para criarem um projeto juntos.
        </p>

        <p>
          Aqui podemos fazer qualquer coisa e todos podem participar, independente do nível profissional.
        </p>

        <a class="btn" href="https://github.com/training-center/sobre" title="Conheça mais sobre o Training Center">Conheça Mais</a>
      </div>
    </section>
  </header>  
<!-- {% include navigation-menu.html %} -->