---
layout: page
title: "Categories"
---

{% for tag in site.categories %}
  <span id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</span>
  <ul>
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}, <span ><time>{{ post.date | date: site.date_format }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}