---
layout: default
home: true
---

{% for post in paginator.posts %}

{% assign minutes = post.content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign read-time = site.var_less_than_a_minute_read %}
{% else %}
  {% assign read-time = minutes | append: "&nbsp;" | append: site.var_min_read %}
{% endif %}

  <article>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2>{{ post.title }}</h2>
      </a>
    <span>
      {% if site.display-author-front-page %}
        {% if post.author.name %}
          {{ post.author.name }} •
        {% else %}
          {% if site.author.name %}
            {{ site.author.name }} •
          {% endif %}
        {% endif %}
      {% endif %}
      {{ post.date | date: site.date_format }} • {{ read-time }}
      </span>
      <p>{{ post.content | strip_html | truncatewords:140 }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ site.var_read }}  →
      <span><a href="{{ post.url }}#disqus_thread"></a></span>
      <div>
        {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
        {% endfor %}
      </div>
  </article>
{% endfor %}

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}