.come
    display: flex
    flex-direction: column
    border-bottom: 1px solid $blue
    padding-top: 30px

    &__box
        padding-bottom: 30px
    
    &__nav
        padding-top: 20px

        li
            line-height: 25px
    
    strong
        font-weight: bold