.page-header
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 20px
    padding-bottom: 20px
    border-bottom: 1px solid $light
    margin-bottom: 10px

    &__logo
    img
        max-width: 85px
        margin: 15px