.page-header
    background-color: $blue

    &__items
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 30px

        @media (min-width: 520px)
            flex-direction: row
            padding-top: 10px

    &__logo
        max-width: 85px
    
    a
        color: white