.main-content
    display: flex
    flex-direction: column
    text-align: center
    padding-bottom: 100px
    padding-top: 100px
    background-color: $blue
    color: white

    @media (min-width: 800px)
        padding-bottom: 80px
        padding-top: 80px

    &__title
        font-weight: bolder
        padding-bottom: 50px
        font-size: 2.5rem
        text-transform: uppercase

    &__text
        font-size: 1.2rem