.main-content
    display: flex
    flex-direction: column
    text-align: center
    padding-bottom: 40px
    padding-top: 30px
    border-bottom: 1px solid $blue

    h1
        font-weight: bolder
        font-size: 2.5rem
        padding-bottom: 15px
    
    p
        font-size: 1.2rem