.main-content
    display: flex
    flex-direction: column
    text-align: center
    padding-bottom: 100px
    padding-top: 100px
    +theme-border(8px, $blue)

    @media (min-width: 800px)
        padding-bottom: 80px
        padding-top: 80px

    &__title
        +theme-title(2.5rem, 50px)

    &__text
        font-size: 1.2rem